/*
!/i3/
!/i3blocks/
!/polybar/
!/rofi/
!/ranger/
/ranger/history
!/.vimrc
!.gitignore
!/dunst/
!compton.conf
!/Fonts/
!.bashrc
!/phpstorm/
!/nvim/
!/.zsh_aliases
!/.zshrc
!/kitty/
!hosts
!/nginx_sites_laradock/
